.container-content{
    padding: 0 80px;
    background-color: rgba(0,0,0,0.05);
    width: auto;
}
.container-content::after{
    content: ".";
    color: transparent;
}
.container-content .subject{
    border-bottom: 4px solid rgba(0,0,0,0.1);
    display: flex;
    width: 30%;
    margin-bottom: 30px;
}
.container-content .subject-title{
    padding: 15px;
    padding-top: 40px;
    cursor: pointer;
    position: relative;
    width: 100px;
    text-align:center; 
    display: flex;
    justify-content: center;
}
.container-content .subject-title a{
    color: black;
    
    font-weight: bold;
}
.container-content .subject-title::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -4px;
}
.container-content .subject-title:hover::after{
    border-bottom: 4px solid black;
}
.container-content .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-content .card-course{
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}
.container-content .card-course .title{
    font-weight: bold;
    font-size: 1.3em;
    padding: 15px;
}
.container-content .card-course .title:hover{
    background: rgba(0, 0, 0, 0.13);
}
.container-content .card-course .description{
    line-height: 1.5;
    padding: 15px;
    padding-top: 0;
    word-wrap: break-word;
    height: 80px;
    overflow: auto;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.container-content .card-course .tail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 20px;
    transition: 0.2s;
}
.container-content .card-course .tail:hover{
    background: rgba(0, 0, 0, 0.1);
}
.container-content .tail .enroll a{
    color: rgb(22, 158, 22);
}
.container-content .tail .enroll a:hover{
    color: rgb(97, 209, 97);
}
.container-content .tail .point{
    font-weight: bold;
}